mixin product-no-label(title, rating, author, date, description, tagList, imgSrc)
  div.product
    div.product__image
      img(src= imgSrc alt='product image')
    div.product__body
      p.product__title= title
      div.product__rating
        p(class= rating)
      p
        i by
        span.product__author= author
        span.product__date= date
      p.product__description= description
      div.product__tag-list
        ul
          each tag in tagList
            li #{tag}
      div.product__footer
        a(href="#") READ REVIEW


mixin product-labeled(title, rating, author, date, description, tagList, imgSrc, label)
  div.product
    div.product__image
      img(src= imgSrc alt='product image')
    div.product__label= label
    div.product__body
      p.product__title= title
      div.product__rating
        p(class= rating)
      p
        i by
        span.product__author= author
        span.product__date= date
      p.product__description= description
      div.product__tag-list
        ul
          each tag in tagList
            li #{tag}
      div.product__footer
        a(href="#") READ REVIEW