mixin product-no-label(title, rating, author, date, description, tagList, imgSrc)
  div.product
    +image("product__image")(style!= imgSrc)
    div.product__body
      p.product__title= title
      div.product__rating
        p(class= rating)
      p
        i by
        span.product__author= author
        span.product__date= date
      p.product__description= description
      div.product__tag-list
        ul
          each tag in tagList
            li
              a(href="#") #{tag}
      div.product__footer
        a(href="#") READ REVIEW


mixin product-labeled(title, rating, author, date, description, tagList, imgSrc, label)
  div.product
    +image("product__image")(style!= imgSrc)
    div.product__label= label
    div.product__body
      p.product__title= title
      div.product__rating
        p(class= rating)
      p
        i by
        span.product__author= author
        span.product__date= date
      p.product__description= description
      div.product__tag-list
        ul
          each tag in tagList
            li
              a(href="#") #{tag}
      div.product__footer
        a(href="#") READ REVIEW

mixin image(className)
  div(class= className, style=attributes.style)